<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/assets/ico/favicon.ico">

    <title><%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="container">
    <div class="row">

<div class="col-md-12">
<div class="panel panel-default">
<div class="panel-heading">
用户列表
</div>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <!-- <tr>
                  <th>用户名</th>
                  <th>权限</th>
                  <th>最后登录时间</th>
                  <th></th>
                  <th></th>
                </tr> -->
              </thead>
              <tbody>
                <% users.forEach(function(user, index) { %>
                <tr>
                  <td><%= user.name %></td>
                  <td></td>
                  <td></td>
                  <td>
                    <a class="btn btn-small" href="/admin/users/<%= user.name %>/edit">编辑</a>
                  </td>
                  <td>
                    <form class="form-inline" method="post" action="/admin/users/<%= user.name %>/delete">
                      <button type="submit" class="btn-danger">删除</button>
                    </form>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>

</div>

</div>
</div>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
