{% extends 'layout.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        {% for lang in languages %}
        <th>{{ lang.name }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      <!-- posts和language应顺序保存一致 -->
      {% for post in posts %}
      <tr>
        <td>1</td>
        <td>{{ post.zh }}</td>
        <td>{{ post.en }}</td>
        <td>{{ post.ar }}</td>
        <td>{{ post.sv }}</td>
        <td>{{ post.fr }}</td>
        <td>{{ post.it }}</td>
        <td>{{ post.ja }}</td>
        <td>{{ post.ru }}</td>
        <td>{{ post.no }}</td>
        <td>{{ post.es }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
