{% extends 'layout.html' %}

{% block title %}Posts{% endblock %}

{% block content %}
  <table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>简体中文</th>
        <th>英文</th>
        <th>日文</th>
        <th>俄文</th>
        <th>阿拉伯语</th>
        <th>西班牙语</th>
        <th>法语</th>
        <th>意大利语</th>
        <th>挪威语</th>
        <th>瑞典语</th>
      </tr>
    </thead>
    <tbody>
      {% for post in posts %}
      <tr>
        <td>1</td>
        <td>{{ post.zh }}</td>
        <td>{{ post.en }}</td>
        <td>{{ post.ar }}</td>
        <td>{{ post.sv }}</td>
        <td>{{ post.fr }}</td>
        <td>{{ post.it }}</td>
        <td>{{ post.ru }}</td>
        <td>{{ post.no }}</td>
        <td>{{ post.es }}</td>
        <td>{{ post.ja }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
